*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;       
       
}

.nav-item{
    padding-left: 25px;
    align-self: left;    
}

.logo-icon{    
    border-radius: 50%;        
}